<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestNG">

	
 	<test name="Practice1">
		<classes>
			<class name="TestNGPkg.TestNGPractice1" />
		</classes>
	</test>
	
 	<test name="Practice2">
		<classes>
			<class name="TestNGPkg.TestNGPractice2" />
		</classes>
	</test>
	
	 
</suite>